body{
  background-image: url("./bg.jpg");
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  font-size: 20px;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
  padding: 20px;
  border-radius: 50px;
}

.App .title {
  color: white;
  font-family: sans-serif;
  border-bottom: 3px solid white;
}

.App .btn-i {
  background-color: #1ce32f;
  padding: 10px;
  border-radius: 50px;
  font-size: 25px;
  border-color: white;
  margin: 5px;
}

.App .btn-d {
  background-color: #dd2a22;
  padding: 10px;
  border-radius: 50px;
  font-size: 25px;
  border-color: white;
  margin: 5px;
}

.App .btn-z {
  background-color: #889768;
  padding: 10px;
  border-radius: 50px;
  font-size: 25px;
  border-color: white;
  margin: 5px;
}

.App .num{
  font-family: sans-serif;
  color: limegreen;
  font-size: 80px;
}